.half__content {
  position: relative !important;
}

a.nav-work {
  position: absolute !important;
  top: 40px !important;
  right: 60px !important;
  left: auto !important;

  font-weight: 800 !important;
  text-decoration: none !important;
  z-index: 99999 !important;
}

a.nav-work:hover {
  text-decoration: underline !important;
}
