.half__content {
  position: relative;
}

a.nav-work {
  position: absolute;
  top: 24px;      /* adjust if needed */
  right: 16px;    /* smaller number = further right */
  font-weight: 900;
  text-decoration: none;
  z-index: 99999;
}

a.nav-work:hover {
  text-decoration: underline;
}

