/***************
BUTTON DEFAULTS
***************/

@mixin button--outline($btn-color: #dc0093, $btn-font-color: #ffffff) {
  background-color: $btn-color;
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $btn-font-color;
  font-size: 0.9em;
  line-height: 1.2em;
  font-weight: 505;
  padding: 0.6em 1.8em;
  border: 1px solid $btn-color;
  border-radius: 999px;
  cursor: pointer;
  margin-bottom: 0.5em;
  transition: background-color 0.2s ease-in-out;

  &:hover,
  &:focus {
    background-color: darken($btn-color, 10%);
    border-color: darken($btn-color, 10%);
    color: #ffffff;
    text-decoration: none;
  }
} // end .button

.socialLinks__link--work {
  @include button--outline;
}
