/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Lato:wght@300;400;700&display=swap");

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 95%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Open Sans, Helvetica, Lato, sans-serif;
  font-weight: 315;
  line-height: 1.45;
  font-size: 45%;
  color: #2c282c;
  background-color: #fffefc;
  overflow-x: hidden;
  margin: 0;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 112.5%;
  }
}

hr {
  height: 0;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  appearance: button;
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  appearance: textfield;
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0 1.5rem;
  font-family: Open Sans, Helvetica, Lato, sans-serif;
}

.h1,
h1 {
  font-size: 2rem;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  .h1,
  h1 {
    font-size: 2.5rem;
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  .h1,
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
}

.h2,
h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

@media (min-width: 43.75em) {
  .h2,
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  .h2,
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
}

.h3,
h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

@media (min-width: 43.75em) {
  .h3,
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  .h3,
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

.h4,
h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  .h4,
  h4 {
    line-height: 1.22222222;
  }
}

blockquote {
  font-size: 1.25em;
  line-height: 1.25;
  padding: 0;
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    line-height: 1.45833333;
  }
}

body p,
body ul {
  margin: 0 0 2rem;
}

.bio p {
  margin: 0 0 1rem;
}

::-moz-selection {
  background: #dc0093;
  color: #fff;
}

::selection {
  background: #dc0093;
  color: #fff;
}

audio,
iframe,
img,
object,
video {
  max-width: 100%;
}

a {
  color: #dc0093;
}

a:hover {
  color: #dc0093;
}

.noList {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 0 1.5rem;
}

/* -----------------------------
   Layout: half template
----------------------------- */

.half main {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .half main {
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    align-items: stretch;
  }
}

.half main .pageTitle {
  color: #dc0093;
  font-weight: 400;
  margin-bottom: 1rem;
}

.half main > div {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .half main > div {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 50px;
  }
}

/* Buttons / links */
.socialLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.half .socialLinks__link {
  background-color: #dc0093;
  display: inline-block;
  position: relative;
  font-family: Open Sans, Helvetica, Lato, sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
  line-height: 1.2em;
  font-weight: 505;
  padding: 0.5em 1.5em;
  border: 1px solid #dc0093;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.14s ease-in-out, transform 0.12s ease-in-out;
}

.half .socialLinks__link:focus,
.half .socialLinks__link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #dc0093;
  transform: translateY(-1px);
}

/* Content vs image ordering */
.half__content {
  order: 2;
}

.half__image {
  min-height: 50vh;
  order: 1;
  background-size: cover;
  background-position: 50%;
}

@media screen and (min-width: 768px) {
  /* Modifier: content on left */
  .half__content.half--left {
    order: 1;
    flex-basis: 0.75;
    max-width: 40vw;
  }

  .half__content.half--left + .half__image {
    order: 2;
  }

  /* Modifier: content on right */
  .half__content.half--right {
    order: 2;
  }

  .half__content.half--right + .half__image {
    order: 1;
  }
}

/* Background images by breakpoint */
@media screen and (max-width: 800px) {
  .half__image {
    background-image: url(/assets/img/half-sm.jpg);
  }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
  .half__image {
    background-image: url(/assets/img/half-md.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .half__image {
    background-image: url(/assets/img/half-lg.jpg);
  }
}

/* Email copy styling (matches your new HTML classes) */
.copyEmail {
  cursor: pointer;
  color: #928287;
  font-weight: 600;
  text-decoration: underline;
}

.copyConfirm {
  display: none;
  font-size: 0.9em;
  color: #dc0093;
  margin-left: 6px;
}

.email-row {
  margin-bottom: 1.5rem;
}
/* =============================
   Center content + .10in border
   ============================= */

/* .10 inch black border overlay (does not change layout size) */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  border: .10in solid #2c282c;
  pointer-events: none;
  z-index: 9999;
}

/* Center the content side */
.half__content {
  text-align: left;
}

/* On desktop, the columns become flex containers, so this centers children */
@media screen and (min-width: 768px) {
  .half__content {
    align-items: left;
  }
}

/* Center the social buttons row */
.socialLinks {
  justify-content: left;
}

/* Keep centered text from getting too wide */
.half__content > * {
  max-width: 42rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}