<!DOCTYPE html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body class="half">
    <main>
      <div
        class="half--{{ site.half_side }} half__content"
        style="position: relative !important;"
      >
        <a
          href="{{ '/work/' | relative_url }}"
          style="
            position: absolute !important;
            top: 36px !important;
            right: 56px !important;
            font-weight: 900 !important;
            text-decoration: underline !important;
            z-index: 99999 !important;
          "
        >
          Work
        </a>

        {% if page.title %}
          <h1 class="pageTitle">{{ page.title }}</h1>
        {% elsif site.title %}
          <h1 class="pageTitle">{{ site.title }}</h1>
        {% endif %}

        {% include social.html %}

        <div class="pageContent">
          {{ content }}
        </div>
      </div>

      <div class="half__image"></div>
    </main>
  </body>
</html>



